body, html {
    height: 100%;
    margin: 0;
}

#home-start {
    background-image: url("/images/airplane-flying-on-dark-sky.jpg");
    height: 369px;
    width: 100%;
    background-position-y: 140%;
    background-position-x: 65%;
    margin-top: -2%;
}

#welcome {
    margin: 0 33%;
    color: white;
    padding: 25px 0
}

table {
margin-top: 24px;
}

.buttons {
    display: flex;
}

.fa-solid, .fa-plane-departure {
    font-size: 55px;
}

#arrived {
    margin-left: 15px;
}